{% extends 'core/base.html' %}

{%  block contenido %}
   
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 class="display-4">Registrarse</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                            {{ form.as_table }}
                    </table>
    
                    
                    <input type="submit" value="Registrarse">
    
                </form>
            </div>
        </div>
    </div>

{% endblock %}