<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>MBC Store</title>
    {% load static %}

    <link rel="stylesheet" href="{%  static 'core/css/estilos.css'  %}">
    <link rel="stylesheet" href="{%  static 'core/css/bootstrap.css'  %}">
    <link rel="stylesheet" href="{%  static 'core/css/bootstrap.min.css'  %}">


</head>

<body>
    <header>
        <div class="row">
            <div class="col-4 col-md-4">
                <a href="{% url 'home' %}"><img src="{% static 'core/img/Robot.png' %}" alt="Logo Empresa"></a>

            </div>


            <div class="col-4 col-md-4">
                <div id="buscar">
                    <input type="search" id="input-search" placeholder="Buscar aqui">
                    <div class="content-search">
                        <div class="content-table">
                            <table id="table">
                                <thead>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td><a href="{% url 'home' %}">Inicio</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'camara' %}">Camara</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'celulares' %}">Celulares</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'consolas' %}">Consolas</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'smart' %}">Smart TV</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'notebook' %}">Notebook</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'detalle_notebook' %}">HP Pavilion x360</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'formulario_django' %}">Contacto</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <img src="{% static 'core/img/Search-Find.png' %}" alt="Icono Buscar">
            </div>
            
            {% if user.is_authenticated %}

            <div class="col-2 col-md-2">
                <a href="#" class="text-white">Usuario: {{user.username}}</a>
            </div>

            <div class="col-1 col-md-1">
                <a href="{% url 'logout' %}" class="text-white">Cerrar Sesión</a>
            </div>

            {% else %}
            <div class="col-1 col-md-1">
                <a href="{% url 'registro_usuario' %}"><span class="text-white">Registrate</span></a>

            </div>
            <div class="col-2 col-md-2">
                <a href="{% url 'login' %}"><span class="text-white">Iniciar sesión</span></a>

            </div>
            
            {% endif %}
            <div class="col-1 col-md-1">
                <a href="{% url 'formulario_django' %}"><img src="{% static 'core/img/formulario.png' %}" alt="formulario" width="48px"></a>

            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><span><img src ="{% static 'core/img/icon_home.png' %}" alt="icono home"></span>Inicio</a></li>
            <li><a href="{% url 'camara' %}"><span><img src ="{% static 'core/img/icon_camara.png' %}" alt="icono camara"></span>Camara</a></li>
            <li><a href="{% url 'celulares' %}"><span><img src ="{% static 'core/img/icon_Mobile.png' %}" alt="icono celular"></span>Celulares</a></li>
            <li><a href="{% url 'consolas' %}"><span><img src ="{% static 'core/img/icon_videogame.png' %}" alt="icono videogame"></span>Consolas</a></li>
            <li><a href="{% url 'smart' %}"><span><img src ="{% static 'core/img/icon_television.png' %}" alt="icono television"></span>Smart TV</a></li>
            <li><a href="{% url 'notebook' %}"><span><img src ="{% static 'core/img/icon_Laptop.png' %}" alt="icono notebook"></span>Notebook</a></li>

        </ul>
    </nav>

    

    

    <div>

        {% block contenido %} {% endblock %}

    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Caracteristicas</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">CCosas interesantes</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Característica aleatoria</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Característica del equipo</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Cosas para desarrolladores</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Otro</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Ultima vez</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Recursos</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Recursos</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Nombre del recurso</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Otro Recurso</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Recurso Final</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Recursos</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Negocios</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Educación</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Gobierno</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Juegos</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Acerca de</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Equipo</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Locales</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Privacidad</a></li>
                    <li><a class="text-muted" href="{% url 'formulario_django' %}">Terminos</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="{%  static 'core/js/jquery.dataTables.min.js'  %}"></script>
    <script src="{%  static 'core/js/search.js'  %}"></script>
    <script src="{%  static 'core/js/jquery.js'  %}"></script>

    {% block js %} {% endblock %}

</body>

</html>