{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<article>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 37%</span>
                    </div>

                    <a href="#"><img src="{% static 'core/img/Coolpix B600.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">NIKON</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Cámara Coolpix B600 - 16 MP - Pantalla 3" - Calidad de grabación Full HD - Formatos de imagen JPEG </p>
                        <small class="card-text mb-0 dash"><s>$379.990</s></small>
                        <h1 class="text-secondary price mb-0">$239.990</h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                    al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 3%</span>
                    </div>

                    <a href="#"><img src="{% static 'core/img/D5600+18.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">NIKON</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Nikon D5600 + 18-55 + Bolso + Memoria 64Gb + Trípode - 24.2 MP - Calidad de grabación Full HD</p>
                        <small class="card-text mb-0 dash"><s>$649.990</s></small>
                        <h1 class="text-secondary price mb-0">$629.990</h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                    al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 37%</span>
                    </div>
                    <a href="#"><img src="{% static 'core/img/Nikon-D3500+18.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">NIKON</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Cámara Nikon Reflex D3400-D3500 Kit 18-55 Mm - 24.2 MP - Pantalla 3.2" - Calidad de grabación Full HD </p>
                        <small class="card-text mb-0 dash"><s>$379.990</s></small>
                        <h1 class="text-secondary price mb-0">$239.990</h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                    al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 35%</span>
                    </div>

                    <a href="#"><img src="{% static 'core/img/Alpha ILCE-7M3K + Lente.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Cámara Alpha ILCE-7K + Lente 28-70 - 24,3 MP - Pantalla 3" - Calidad de grabación Full HD - Formatos de imagen JPEG/RAW </p>
                        <small class="card-text mb-0 dash"><s>$999.990</s></small>
                        <h1 class="text-secondary price mb-0">$649.990 </h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 14%</span>
                    </div>

                    <a href="#"><img src="{% static 'core/img/Cámara Deportiva HDR AS 300.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Cámara Deportiva HDR-AS300R/WE23 - 8.6 MP - Calidad de grabación Full HD - Pantalla LiveView</p>
                        <small class="card-text mb-0 dash"><s>$349.990</s></small>
                        <h1 class="text-secondary price mb-0">$299.990</h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card mb-3 rounded position-relative d-none d-lg-block">
                    <div class="discount bg-danger rounded-right">
                        <span class="px-2 text-white">- 21%</span>
                    </div>
                    <a href="#"><img src="{% static 'core/img/DSC-HX400V.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                        <p class="card-text ellips mb-0 mb-sm-2">Cámara Semiprofesional DSC-HX400V - 20.4 MP - Pantalla 3" - Calidad de grabación Full HD </p>
                        <small class="card-text mb-0 dash"><s>$329.990</s></small>
                        <h1 class="text-secondary price mb-0">$259.990</h1>
                        <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                        <div class="d-md-flex justify-content-around d-none d-sm-block">
                            <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                            <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                        </div>

                        <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                            <div class="cantidad align-bottom">
                                <p class="mb-0"> Cant 20</p>
                            </div>
                            <div class="px-2 px-sm-2 px-lg-3">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <div class="my-1 d-none d-sm-block">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="comprar8">
                                <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>







<div class="container">
    <!-- Content here -->
</div>

<!--/ productos relacionados -->
</div>


<div class="con tainer-fluid">
    ...
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">


        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">





        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">


        </div>
    </div>
</div>

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Coolpix B600.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">NIKON</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Cámara Coolpix B600 - 16 MP - Pantalla 3" - Calidad de grabación Full HD - Formatos de imagen JPEG </p>
                <small class="card-text mb-0 dash"><s>$379.990</s></small>
                <h1 class="text-secondary price mb-0">$239.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/Img/Nikon-D3500+18.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">NIKON</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Cámara Nikon Reflex D3400-D3500 Kit 18-55 Mm - 24.2 MP - Pantalla 3.2" - Calidad de grabación Full HD </p>
                <small class="card-text mb-0 dash"><s>$379.990</s></small>
                <h1 class="text-secondary price mb-0">$239.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/DSC-HX400V.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Cámara Semiprofesional DSC-HX400V - 20.4 MP - Pantalla 3" - Calidad de grabación Full HD </p>
                <small class="card-text mb-0 dash"><s>$329.990</s></small>
                <h1 class="text-secondary price mb-0">$259.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-6"></div>

        <div class="col-6"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col align-self-start">

        </div>
        <div class="col align-self-center">

        </div>
        <div class="col align-self-end">

        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-start">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>

{% endblock %}