{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/P30-128GB.jpg' %}" class="card-img-top" alt="P30 128GB"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HUAWEI</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone P30 128GB RAM 6GB pantalla OLED 6.1 pulgadas cámaras 40MP / 16MP procesador Kirin 980 Memoria expandible hasta 256GB</p>
                <small class="card-text mb-0 dash"><s>$599.990</s></small>
                <h1 class="text-secondary price mb-0">$549.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/P20-128GB.jpg' %}" class="card-img-top" alt="CP20 128GB"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HUAWEI</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone P20 128GB RAM 6GB pantalla OLED 5.8 pulgadas cámaras 13MP / 24MP procesador Kirin 970 Memoria expandible hasta 512GB</p>
                <small class="card-text mb-0 dash"><s>$599.990</s></small>
                <h1 class="text-secondary price mb-0">$299.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/P9-32GB.jpg' %}" class="card-img-top" alt="P9 32GB"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HUAWEI</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone P9 Almacenamiento 32GB - tammaño pantalla 5.2" - camaras 13 MP y 8 MP - expandible hasta 256GB</p>
                <small class="card-text mb-0 dash"><s>$459.990</s></small>
                <h1 class="text-secondary price mb-0">$249.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/galaxy A80 128GB.jpg' %}" class="card-img-top" alt="Galaxy A80"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SAMSUNG</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone Galaxy A80 128GB pantalla Super AMOLED 6.5 pulgadas cámaras 8MP-48-3D depth expandible hasta 512GB</p>
                <small class="card-text mb-0 dash"><s>$599.990</s></small>
                <h1 class="text-secondary price mb-0">$549.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Galaxy Note 9 128GB.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SAMSUNG</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone Galaxy Note 9 128GB RAM 6GB pantalla Super AMOLED 6.4 pulgadas cámaras 12MP / 8MP Memoria expandible hasta 512GB</p>
                <small class="card-text mb-0 dash"><s>$849.990</s></small>
                <h1 class="text-secondary price mb-0">$599.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Galaxy S10+ 128GB.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SAMSUNG</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Galaxy S10 Almacenamiento 128GB - tamaño pantalla 6.1" - camaras 12MP + 16MP + 12MP y 10 MP - expandible hasta 512GB</p>
                <small class="card-text mb-0 dash"><s>$799.990</s></small>
                <h1 class="text-secondary price mb-0">$699.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}