{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/One-X-1TB-Consola-Edición-Blanca.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">MICROSOFT</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Xbox One X 1TB Consola Edición Blanca Procesador 8 núcleos x 86 AMD almacenamiento 1TB</p>
                <small class="card-text mb-0 dash"><s>$568.990</s></small>
                <h1 class="text-secondary price mb-0">$459.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Xbox-One-1TB+Pubg.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">MICROSOFT</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Xbox One + Pubg Procesador 8 núcleos x 86 AMD almacenamiento 1TB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$568.990</s></small>
                <h1 class="text-secondary price mb-0">$459.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Consola-Xbox-One-S-1Tb+Fortnite.jfif' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">MICROSOFT</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Consola Xbox One S 1Tb + Fortnite + CONTROL Procesador 8 núcleos x 86 AMD almacenamiento 1TB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$259.990</s></small>
                <h1 class="text-secondary price mb-0">$229.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Consola Ps4 Slim 500Gb + Juego Spiderman + Control.jfif' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Consola Ps4 Slim + Juego Spiderman + Control Procesador 8 núcleos x 86 AMD almacenamiento 500GB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$349.990</s></small>
                <h1 class="text-secondary price mb-0">$289.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">

            <a href="#"><img src="{% static 'core/img/PS4 Slim 500GB CODBO4.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Consola Ps4 Slim +JUEGO + Control Procesador 8 núcleos x 86 AMD almacenamiento 500GB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$349.990</s></small>
                <h1 class="text-secondary price mb-0">$289.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                                    al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Consola PS4 FIFA 500GB 2 Controles.jfif' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Consola PS4 + JUEGO FIFA + 2 Controles Procesador 8 núcleos x 86 AMD almacenamiento 500GB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$399.990</s></small>
                <h1 class="text-secondary price mb-0">$269.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block js %}
    <script>
        var buscador = $("#table").DataTable();

        $("#input-search").keyup(function() {

            buscador.search($(this).val()).draw();

            if ($("#input-search").val() == "") {
                $(".content-search").fadeOut(300);
            } else {
                $(".content-search").fadeIn(300);
            }
        })
    </script>
    {% endblock %} {% endblock %}