{% extends 'core/base.html' %} 
{% load static %} 
{% block contenido %}
<div class="px-lg-5 px-md-3 px-xs-12 body-content">
    <!-- breadcrumb -->
    <!-- / breadcrumb -->

    <!-- producto -->
    <div class="container-fluid mt-3">

        <div class="card single-product mb-3 position-relative rounded">


            <div class="row no-gutters">
                <div class="col-md-7 col-lg-8 border-right">
                    <div class="py-3 px-2">
                        <div id="SingleProduct" class="slide">
                            <img src="{% static 'core/img/S430FN-EB093T.jpg' %}" alt="img notebook" class="d-block w-100">
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-lg-4 mt-md-5">
                    <div class="card-body">
                        <h6 class="text-uppercase font-weight-bold">HP</h6>
                        <p class="card-text">HP Pavilion x360 Convertible 14-cd0003 2en1 Intel Core i3 500GB RAM-4GB 14" </p>

                        <div class="align-items-center justify-content-between mb-0 d-none d-md-flex">
                            <div>
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <img src="{% static 'core/img/star.png' %}" alt="estrella">
                                <small>5 opiniones</small>
                            </div>
                            <div>
                                <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                            </div>
                        </div>

                        <ul class="listl-inline pl-0 mt-1 mb-0">
                            <li class="list-inline-item">
                                <small>SKU: 123456</small>
                            </li>
                            <li class="list-inline-item">
                                <small>Nº Parte: 642XY</small>
                            </li>
                        </ul>

                        <hr class="mt-1 mb-3 d-none d-sm-block">

                        <div class="text-center text-md-left mt-4 mt-sm-0">
                            <h2 class="mb-0 text-secondary price">$479.990</h2>
                            <p class="mt-n1">
                                <small class="text-secondary mb-3">Precio efectivo - Transferencia bancaria</small>
                            </p>
                            <h3 class="mb-0">$479.990</h3>
                            <p class="mt-n1">
                                <small>Webpay - Tarjeta Débito/Crédito</small>
                            </p>
                        </div>

                        <div class="bg-another-grey mt-3 mb-4">
                            <div class="d-flex px-3 px-md-1 px-lg-3">
                                <div class="w-50  mr-2">
                                    <small>Stock</small>
                                    <h5 class="text-uppercase">5 unidades</h5>
                                </div>
                                <div class="w-50">
                                    <small>Disponibilidad</small>
                                    <h5 class="text-uppercase">Inmediata</h5>
                                </div>
                            </div>
                        </div>

                        <!-- cantidad -->
                        <form action="" class="mb-4 mt-5">

                            <div class="row">
                                <div class="col-md-2 col-3 pr-0 position-relative">
                                    <label class="position-absolute mt-n4" for="cantidad">Cant.</label>
                                    <input type="number" class="form-control p-1">
                                </div>
                                <div class="col pl-m-1">
                                    <a href="{% url 'formulario_django' %}"><button  type="button" class="btn btn-block btn-primary text-uppercase mb-md-0">añadir
                                                al carro</button></a>
                                </div>
                            </div>
                        </form>
                        <!--/ cantidad -->

                        <hr>

                        <div class="row mt-4">
                            <div class="col pr-0 ml-2">
                                <img src="{% static 'core/img/Icono-Despacho.png' %}" alt="Despacho">
                            </div>
                            <div class="col-8 col-sm-9 col-md-8 pl-0">
                                <p class="mb-0 text-uppercase">despacho</p>
                                <p>
                                    Paga tu orden después de las 17:00 hrs y será despachada el próximo día hábil. El tiempo de despacho dependerá de la comuna y servicio de courier seleccionados.
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col pr-0 ml-2">
                                <img src="{% static 'core/img/bags.png' %}" alt="Despacho">
                            </div>
                            <div class="col-8 col-sm-9 col-md-8 pl-0">
                                <p class="mb-0 text-uppercase">retiro</p>
                                <p>
                                    Paga tu orden y podrás retirar el producto de 9:00 a 17:30 hrs luego de ser confirmado el pago
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ producto -->

    <!-- tabs -->
    <div class="container-fluid py-md-5">
        <div class="row">
            <div class="col">

                <ul class="nav nav-tabs d-none d-md-flex" role="tablist" id="tab-descripcion">
                    <li class="nav-item text-center w-100s">
                        <a class="nav-link quick active" id="descripcion-tab" data-toggle="tab" href="#descripcion" role="tab" aria-controls="descripcion" aria-selected="true">DESCRIPCIÓN</a>
                    </li>
                    <li class="nav-item text-center w-100s">
                        <a class="nav-link quick" id="especificaciones-tab" data-toggle="tab" href="#especificaciones" role="tab" aria-controls="especificaciones" aria-selected="false">ESPECIFICACIONES</a>
                    </li>
                </ul>

                <ul class="list-unstyled d-md-none tab-mobile text-center mb-0 rounded-top px-2 bg-white">
                    <li>
                        <a class="quick active" href="#descripcion">DESCRIPCIÓN</a>
                    </li>
                    <li>
                        <a class="quick" href="#especificaciones">ESPECIFICACIONES</a>
                    </li>
                </ul>

                <div class="tab-content bg-white">
                    <div class="tab-pane fade show active" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
                        <div class="p-3 p-sm-4">
                            <h5 class="text-secondary mb-4">Descripción del producto</h5>
                            <p>Nítida y elegante, con su diseño sin bordes que ahorra espacio, la Lenovo V510z es la AIO que mantiene las cosas simples - por lo que tu enfoque permanece en los negocios.</p>

                            <strong>Características del producto</strong>
                            <p>Servicio sin herramientas en un instante Fácil de usar, la V510z no posee herramientas - lo que significa que se puede eliminar o reemplazar fácilmente el ODD, SSD o la memoria sin gadgets ni procedimientos complicados.</p>

                            <strong>Siempre encendida, siempre conectada</strong>
                            <p>Con cámara web integrada y altavoces, la AIO V510z es ideal para conferencias, y conversaciones con los clientes.</p>

                            <strong>Se adapta a usted</strong>
                            <p>Con una gama de posiciones con inclinación y altura ajustables, la AIO V510z se adapta instantáneamente a su estilo de trabajo - ideal para colaborar con un equipo, hacer una presentación, o mostrarle al cliente su pedido.
                                Y si desea sacar completamente su AIO del escritorio - también es compatible con VESA./</p>

                            <strong>Proteja sus datos</strong>
                            <p>La protección Smart USB evita que los datos sensibles y la información de los clientes se filtren mediante restricciones de acceso al puerto mientras permite las entradas del teclado y mouse. Lo que es más, el bloqueo Bluetooth
                                de Lenovo bloquea automáticamente su computadora cuando usted se aleja - evitando el acceso no autorizado.</p>

                            <strong>Proteja físicamente su dispositivo</strong>
                            <p>Para proteger su privacidad y brindarle tranquilidad, simplemente puede bloquear la cámara dándole un pequeño golpecito a la cámara de privacidad. En público, mantenga sus dispositivos seguros con el candado antirrobo de Kensington
                                - para que usted pueda concentrarse en lo que es realmente importante en lugar de vigilar sus dispositivos.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="especificaciones" role="tabpanel" aria-labelledby="especificaciones-tab">
                        <p>...</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/ tabs -->

</div> {% endblock %}