{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h1 class="display-4">Formulario</h1>
            <hr class="bg-info">
            <p class="pb-0 mb-0">Te invitamos a contactarnos, te reponderemos a la brevedad.</p>
            <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>
            <form method="POST">
                <div class="row form-group">
                    <label for="nombre" class="col-form-label col-md-4">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" name="nombre" value="" id="nombre" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="email" class="col-form-label col-md-4">Email:</label>
                    <div class="col-md-8">
                        <input type="text" name="correo" value="" id="correo" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="rut" class="col-form-label col-md-4">Rut:</label>
                    <div class="col-md-8">
                        <input type="text" name="rut" value="" id="rut" placeholder="14.569.484-1" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="direccion" class="col-form-label col-md-4">Dirección:</label>
                    <div class="col-md-8">
                        <input type="text" name="direccion" value="" id="direccion" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="direccion" class="col-form-label col-md-3">Envío fuera de Santiago:</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Dentro de Santiago</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Fuera de Santiago</label>
                    </div>

                </div>


                <div class="row form-group">
                    <label for="mensaje" class="col-form-label col-md-4">Mensaje:</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="mensaje" id="mensaje" cols="30" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" id="btn_registrarse">Enviar</button>

            </form>
        </div>


    </div>


</div>

{% endblock %}