{% extends 'core/base.html' %}

{%  block contenido %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h1 class="display-4">Formulario</h1>
            <hr class="bg-info">
            <p class="pb-0 mb-0">Te invitamos a contactarnos, te reponderemos a la brevedad.</p>
            <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>

                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <table>

                        {{ form.as_table }}
                    </table>
                    
                    <input type="reset" value="Limpiar">
                    <input type="submit" value="Enviar">
                </form>

                {{ mensaje }}

    </div>
</div>

{% endblock %}