{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<section>
    <div class="row">
        <div class="col-6 col-md-2">

        </div>
        <div class="col-6 col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'core/img/fondo_1.jfif' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'core/img/fondo_2.jpg' %}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'core/img/fondo_3.png' %}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-2">

        </div>
    </div>
</section>

<article class="mb-3 productos">
    <div class="row">
        <div class="col-6 col-md-2">

        </div>
        <div class="col-6 col-md-8">
            <div class="body-content">
                <div class="container-fluid">
                    <div id="carouselOfertas" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner mx-md-0">
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-around">
                                    <!-- producto 1 -->
                                    <div class="card mb-3 mr-3 rounded position-relative">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 29%</span>
                                        </div>

                                        <a href="Detalle_Notebook.html"><img src="{% static 'core/img/14-CD0003LA.jpg' %}" class="card-img-top" alt="Notebook 14 "></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Hp</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">HP Pavilion x360 Convertible 14-cd0003 2en1 Intel Core i3 500GB RAM-4GB 14" Lápiz inteligente incluido Color: Gris</p>
                                            <small class="card-text mb-0 dash"><s>$419.990 </s></small>
                                            <h2 class="text-secondary price mb-0">$299.990 </h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <a href="Detalle_Notebook.html"></a> <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="icono de lista de deseo" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar">
                                                    <label class="custom-control-label  small pt-1" for="comprar">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 2 -->
                                    <div class="card mb-3 mr-md-3 rounded position-relative">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">-3%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/iPhone XR 256GB.jpg' %}" class="card-img-top" alt="iPhone XR 256GB"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Apple</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">Smartphone iPhone XR memoria de 256GB pantalla Liquid Retina HD 6.1 pulgadas cámara posterior e 12 Megapíxeles </p>
                                            <small class="card-text mb-0 dash"><s>$899.990</s></small>
                                            <h2 class="text-secondary price mb-0">$869.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseo" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar2">
                                                    <label class="custom-control-label  small pt-1" for="comprar2">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 3 -->
                                    <div class="card mb-3 mr-lg-3 rounded position-relative d-none d-md-block">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 16%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/Consola-Switch-Azul-Roja.jpg' %}" class="card-img-top" alt="consola switch"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Nintendo</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">Nintendo Consola Switch Azul-Roja Capacidad de almacenamiento: 32GB expandible 32GB memoria Incluye: 2 joy con</p>
                                            <small class="card-text mb-0 dash"><s>$319.990</s></small>
                                            <h2 class="text-secondary price mb-0">$269.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar3">
                                                    <label class="custom-control-label  small pt-1" for="comprar3">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 4-->
                                    <div class="card mb-3 rounded position-relative d-none d-lg-block">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 35%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/LED-55-KD55X725FCLA8.jpg' %}" class="card-img-top" alt="LED 55"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Sony</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">LED 55" KD55X725F/CLA8 4K Ultra HD Smart TV - Procesador: 4K X-Reality Pro - HDR: Sí - Entradas USB: 3</p>
                                            <small class="card-text mb-0 dash"><s>$569.990</s></small>
                                            <h2 class="text-secondary price mb-0">$369.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar4">
                                                    <label class="custom-control-label  small pt-1" for="comprar4">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="d-flex justify-content-around">
                                    <!-- producto 5 -->
                                    <div class="card mb-3 mr-3 rounded position-relative">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 50%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/P20-128GB.jpg' %}" class="card-img-top" alt="P20 128GB"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Huawei</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">Smartphone P20 128GB - pantalla 5.8"- camaras 13MP y 24MP - Procesador Kirin 970 con NPU integrado </p>
                                            <small class="card-text mb-0 dash"><s>$599.990</s></small>
                                            <h2 class="text-secondary price mb-0">$299.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar5">
                                                    <label class="custom-control-label  small pt-1" for="comprar5">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 6-->
                                    <div class="card mb-3 mr-md-3 rounded position-relative">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 46%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/P9-32GB.jpg' %}" class="card-img-top" alt="P9 32GB"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Huawei</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">Smartphone P9 Almacenamiento 32GB - tammaño pantalla 5.2" - camaras 13 MP y 8 MP - expandible hasta 256GB</p>
                                            <small class="card-text mb-0 dash"><s>$459.990</s></small>
                                            <h2 class="text-secondary price mb-0">$249.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar6">
                                                    <label class="custom-control-label  small pt-1" for="comprar6">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 7 -->
                                    <div class="card mb-3 mr-lg-3 rounded position-relative d-none d-md-block">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 23%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/iPhone-8-64GB.jpg' %}" class="card-img-top" alt="Iphone 8 64gb"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Apple</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2"> Smartphone iPhone 8 Almacenamiento 64GB - camaras 12 MP y 7MP - Pantalla 4.5" - Núcleos del procesador Hexa Core</p>
                                            <small class="card-text mb-0 dash"><s>$649.990</s></small>
                                            <h2 class="text-secondary price mb-0">$499.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar7">
                                                    <label class="custom-control-label  small pt-1" for="comprar7">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- producto 8-->
                                    <div class="card mb-3 rounded position-relative d-none d-lg-block">
                                        <div class="discount bg-danger rounded-right">
                                            <span class="px-2 text-white">- 36%</span>
                                        </div>

                                        <a href="#"><img src="{% static 'core/img/Reflex-EOS-M100.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-weight-bold">Canon</h5>
                                            <p class="card-text ellips mb-0 mb-sm-2">Cámara Reflex EOS M100 - 24.2 MP - Pantalla 3 pulgadas - Calidad de grabación Full HD - Conectividad wifi / NFC </p>
                                            <small class="card-text mb-0 dash"><s>$549.990</s></small>
                                            <h2 class="text-secondary price mb-0">$399.990</h2>
                                            <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>

                                            <div class="d-md-flex justify-content-around d-none d-sm-block">
                                                <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                                                <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                                            </div>

                                            <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                                                <div class="cantidad align-bottom">
                                                    <p class="mb-0"> Cant 20</p>
                                                </div>

                                                <div>
                                                    <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                                                </div>
                                            </div>

                                            <div class="my-1 d-none d-sm-block">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="comprar8">
                                                    <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselOfertas" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselOfertas" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 col-md-2">

        </div>
    </div>

</article>
<!--/ productos relacionados -->
</div>

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/32LK610B.jfif' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">LG</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> LED 32" 32LK610B HD Smart TV Procesador Quad Core Potencia de los parlantes 10w</p>
                <small class="card-text mb-0 dash"><s>$349.990</s></small>
                <h2 class="text-secondary price mb-0">$289.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/Galaxy Note 9 128GB.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SAMSUNG</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Smartphone Galaxy Note 9 128GB RAM 6GB pantalla Super AMOLED 6.4 pulgadas cámaras 12MP / 8MP Memoria expandible hasta 512GB</p>
                <small class="card-text mb-0 dash"><s>$849.990</s></small>
                <h2 class="text-secondary price mb-0">$599.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/PS4 Slim 500GB CODBO4.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> Consola Ps4 Slim +JUEGO + Control Procesador 8 núcleos x 86 AMD almacenamiento 500GB Entradas HDMI/USB</p>
                <small class="card-text mb-0 dash"><s>$349.990</s></small>
                <h2 class="text-secondary price mb-0">$289.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/32LK610B.jfif' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">LG</h5>
                <p class="card-text ellips mb-0 mb-sm-2"> LED 32" 32LK610B HD Smart TV Procesador Quad Core Potencia de los parlantes 10w</p>
                <small class="card-text mb-0 dash"><s>$349.990</s></small>
                <h2 class="text-secondary price mb-0">$289.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                                                                al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/DSC-HX400V.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">SONY</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Cámara Semiprofesional DSC-HX400V - 20.4 MP - Pantalla 3" - Calidad de grabación Full HD </p>
                <small class="card-text mb-0 dash"><s>$329.990</s></small>
                <h2 class="text-secondary price mb-0">$259.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="{% url 'detalle_notebook' %}"><img src="{% static 'core/img/S430FN-EB093T.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HP</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Gamer 15-bc401la Core i5 DUSCO DURO 256GB SSD - Tvideo 4GB - 8GB RAM - PANTALLA 15.6" FHD 1920x1080</p>
                <small class="card-text mb-0 dash"><s>$699.990</s></small>
                <h2 class="text-secondary price mb-0">$479.990</h2>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                                al carro</button>
                    <button type="button"  class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="lista de deseos" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col align-self-start">

        </div>
        <div class="col align-self-center">

        </div>
        <div class="col align-self-end">

        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-start">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>

{% endblock %}