{% extends 'core/base.html' %} 

{% load static %} 

{% block contenido %}

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-8"></div>
        <div class="col-6 col-md-4"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/S406UA-BM174T.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">

                <h5 class="card-title text-uppercase font-weight-bold">SASUS</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Intel Core i7 DUSCO DURO 512GB SSD - 8GB RAM - PANTALLA 14" FHD 1920x1080 </p>
                <small class="card-text mb-0 dash"><s>$789.990</s></small>
                <h1 class="text-secondary price mb-0">$689.990 </h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/VivoBook 14 X420UA-EK057T.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">ASUS</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Intel Core i5 DUSCO DURO 256GB SSD - 4GB RAM - PANTALLA 14" FHD 1920x1080 </p>
                <small class="card-text mb-0 dash"><s>$449.990</s></small>
                <h1 class="text-secondary price mb-0">$399.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="{% url 'detalle_notebook' %}"><img src="{% static 'core/img/S430FN-EB093T.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">ASUS</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Intel Core i5 DUSCO DURO 256GB SSD - Tvideo 2GB - 4GB RAM - PANTALLA 14" FHD 1920x1080</p>
                <small class="card-text mb-0 dash"><s>$699.990</s></small>
                <h1 class="text-secondary price mb-0">$479.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                        al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">


            <a href="#"><img src="{% static 'core/img/14-CD0003LA.jpg' %}" class="card-img-top" alt="Notebook 14 "></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">Hp</h5>
                <p class="card-text ellips mb-0 mb-sm-2">HP Pavilion x360 Convertible 14-cd0003 2en1 Intel Core i3 500GB RAM-4GB 14" Lápiz inteligente incluido Color: Gris</p>
                <small class="card-text mb-0 dash"><s>$419.990 </s></small>
                <h1 class="text-secondary price mb-0">$299.990 </h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/14-CF0003LA.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HP</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Intel Core i5 DUSCO DURO 256GB SSD - 4GB RAM - PANTALLA 14" FHD 1920x1080 </p>
                <small class="card-text mb-0 dash"><s>$549.990</s></small>
                <h1 class="text-secondary price mb-0">$499.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <a href="#"><img src="{% static 'core/img/S430FN-EB093T.jpg' %}" class="card-img-top" alt="Camara Reflex EOSM100"></a>
            <div class="card-body text-center">
                <h5 class="card-title text-uppercase font-weight-bold">HP</h5>
                <p class="card-text ellips mb-0 mb-sm-2">Notebook Gamer 15-bc401la Core i5 DUSCO DURO 256GB SSD - Tvideo 4GB - 8GB RAM - PANTALLA 15.6" FHD 1920x1080</p>
                <small class="card-text mb-0 dash"><s>$699.990</s></small>
                <h1 class="text-secondary price mb-0">$479.990</h1>
                <p class="text-secondary mt-n2"><small>Precio efectivo</small> </p>



                <div class="d-md-flex justify-content-around d-none d-sm-block">
                    <button type="button" class="btn btn-outline-primary text-uppercase mb-md-0 mr-md-1">Añadir
                                                                            al carro</button>
                    <button type="button" class="btn btn-outline-secondary text-uppercase">Ver producto</button>
                </div>

                <div class="footer-img align-items-center d-flex justify-content-around mb-0 mt-2 pl-0 text-center">
                    <div class="cantidad align-bottom">
                        <p class="mb-0"> Cant 20</p>
                    </div>
                    <div class="px-2 px-sm-2 px-lg-3">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                        <img src="{% static 'core/img/star.png' %}" alt="estrella">
                    </div>
                    <div>
                        <a href="#"><img src="{% static 'core/img/Iconos-Wishlist.png' %}" alt="" class="sm"></a>
                    </div>
                </div>

                <div class="my-1 d-none d-sm-block">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="comprar8">
                        <label class="custom-control-label  small pt-1" for="comprar8">Comprar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    
</div>




</section>
{% endblock %}