header {
    width: 100%;
    height: 60px;
    background: #de672b;
    padding: 10px;
}

#input-search {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 6px;
}

nav {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

nav ul {
    list-style: none;
}

nav>ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background: rgb(228, 224, 224);
    position: relative;
}

nav>ul li {
    display: table-cell;
}

nav>ul>li>ul>li a:hover {
    background: #5da5a2;
}

nav>ul>li>a span {
    display: block;
    line-height: 60px;
}

nav>ul>li>a:hover>span {
    top: 0;
}

nav>ul>li>a span {
    background: #98a8b1;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul li a {
    color: rgb(31, 30, 30);
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>ul {
    display: none;
}

#LogoCabecera {
    float: left;
    width: 50%;
}

#cajaBuscar {
    float: left;
    width: 90%;
}

#LogoBuscar {
    float: right;
}

.content-search {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 3;
}

.content-table {
    width: 80%;
    max-height: 200px;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table {
    width: 100%;
}

tbody tr td a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

tbody tr td a:hover {
    background: rgba(0, 0, 0, 0.3);
}

#table_length,
#table_filter,
#table_info,
#table_paginate {
    display: none;
}

#carouselOfertas {
    width: 100%;
}

.buscar {
    position: relative;
}

.buscar .fas {
    position: absolute;
    top: 12px;
    right: 15px;
    color: #ff6D00;
}

.buscar .fas.fas-suscribe {
    right: 140px;
}

.buscar input {
    font-weight: 300;
    padding-right: 40px;
    font-size: 14px;
    border: 1px solid #9B9B9B;
    padding-left: 13px;
}

.buscar input.lg {
    min-width: 260px;
}

.buscar input:focus {
    outline: 0;
}

@media (max-width: 576px) {
    .buscar input {
        height: 28px;
    }
    .buscar .fas {
        top: 7px;
    }
}